

.background
{
  background: url('./Images/nak.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  

}


@keyframes slide-right {
  from {
    margin-left: -100%;
     
  }
  to {
    margin-right: 0%;
    
  }
}


.side{
  background-color: white;
  color:#404040;
 
  
}
@keyframes slide-left {
  from {
    margin-left: 100%;
    width: 300%; 
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
.image{
  margin-left: 100px;
  border-radius: 280px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media screen and (max-width:450px){
  .image{
    margin-left: 120px;
    margin-bottom: 20px;
  }
}
.image:hover {
  width: 170px;
  height: 170px;
  
}
.paragraph{
  color: white;
  font-size: 18px;
  padding-left: 25px;
}
@media screen and (max-width:450px){
  .paragraph{
    padding-left: 60px;
  }
}
.head{
   color: white;
   
   
}
.head:hover{
  color:grey;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.log
{ 
  text-align: center;
  padding-top: 20px;
  margin:8px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;

}
.log:hover{
  color: white;
  cursor: pointer;
  height:60px;
  width:40px;
}
.li
{
  font-size: 20px;
}
.b { 
  padding-right: 30px;
}
.column-card
{
  float:left;
  width:85%;
  padding : 0 10px;
  
  
}
.row-card {margin: 0 -5px;}
.row-card:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .column-card {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}
.card{
  box-shadow: 1px 4px 8px 5px rgba(0,0,0,0.2);
  padding:20px;
  position:relative;
  text-align: center; 
  border-radius: 20px;
  margin-top: 40px;
  
}
.card.arrow-right:after {
  content: " ";
  position: absolute;
  right: -14px;
  top: 15px;
  border-top: 15px solid transparent;
  
  border-right: none;
  border-left: 15px solid white;
  border-bottom: 15px solid transparent;
}
.card.arrow-left:after {
  content: " ";
  position: absolute;
  left: -15px;
  top: 15px;
  border-top: 15px solid transparent;
  border-right: 15px solid white;
  border-left: none;
  
  border-bottom: 15px solid transparent;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 365px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
  background-color: rgba(13, 31, 23, 0.7);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  padding-top: 40px;
  animation: 2s slide-right;
}
.h{
  font-size: 18px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.h:hover{
  font-size: 21px;
}
.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  
}

 @media screen and (max-width:450px){
 .sidebar a {
         
     display:inline;
     text-align: center;
     padding:5px;
     font-size: 14px;
     padding-left: 33px;
     -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
 }
}
.sidebar a.active {
  color: white;
  font-size: 23px;
}

.sidebar a:hover:not(.active) {
  color: gray;
  text-decoration: none;
}

div.content {
  margin-top: 60px;;
  margin-left: 400px;
  padding: 1px 16px;
  height: auto;
}
div.cont {
  margin-top: 100px;;
  margin-left: 400px;
  padding: 1px 16px;
  height:580px;
}
@media screen and (max-width: 450px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.cont{margin-left: 0;} 
  div.content {margin-left: 0;}
}

@media screen and (max-width: 450px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
.vl {
  border-left: 1px solid grey;
  height: 500px;
  position:"relative";
}
@media screen and (max-width: 450px) {
  .vl {height:"0";
    position:absolute;
  }
  
}
.margin-card
{
  margin-top: -120px;
}
@media screen and (max-width:450px){
  .margin-card{
    margin-top: 20px;
  }
}
.footer
{
    padding:2px;
    padding-top: 15px;
    background-color:rgba(13, 31, 23, 0.9) ;
    color:white;
    border-radius: 15px;
 
}
.a{
  text-decoration: none;
  color:white;
  font-style: oblique;


}
.a:hover{
  color:grey;
  text-decoration: none;
}


